<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.restaurantwebsite.mapper.TableMapper">
    <!--List<Table> getAllTable();-->
    <select id="getAllTable" resultType="Table">
        SELECT * FROM `table`
    </select>

    <!--Table getTable(@Param("tableId") Integer tableId);-->
    <select id="getTable" resultType="Table">
        SELECT * FROM `table` WHERE table_id = #{tableId}
    </select>

    <!--void insertTable(Table table);-->
    <insert id="insertTable" useGeneratedKeys="true" keyProperty="tableId">
        INSERT INTO `table` VALUES (DEFAULT, #{tableSpace})
    </insert>

    <!--void updateTable(Table table);-->
    <update id="updateTable">
        UPDATE `table`
            <set>
                <if test="tableSpace != null">table_space = #{tableSpace}</if>
            </set>
        WHERE table_id = #{tableId}
    </update>

    <!--void deleteTable(@Param("tableId") Integer tableId);-->
    <delete id="deleteTable">
        DELETE FROM `table` WHERE table_id = #{tableId}
    </delete>
</mapper>
